
*{margin: 0; padding: 0; }
/* input,textarea { width:95%; } */
/* input[type=submit] { width:100px; } */
html{
  font-size: 10px;
}

#boardTable{
  border-collapse: separate; border-radius: 8px; border-spacing: 0;
  width: 100%; min-width: 600px; overflow: hidden; background-color: #fff; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 14px;
}
#boardTable thead{
  background-color: rgb(222, 255, 209);
}
#boardTable th, #boardTable td{ 
  padding: 8px 16px;
  border-bottom: 1px solid #dee2e6;
}
#boardTable th{
  text-align: center;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
}
#boardTable tbody tr:hover {
  background-color: whitesmoke; /* 호버시 배경색 */
}
#boardTable td{ 
  text-align: left;
  /* color: #495057; */
}    
#boardTable td.cen{
  text-align: center;
}    
#boardTable td.subject{
  text-align: left;
}
#boardTable tbody tr:last-child td {
  border-bottom: none;
}
/* 게시판 열람 페이지에 이미지가 등록되는 경우 최대 사이즈를 450px로 지정한다.
이 경우 450보다 작은 경우 원본사이즈로 큰 경우 450으로 고정된다. */
.tableImg img{ max-width: 450px; height: auto;}