.body{
  /* font-family: 'Noto Sans KR'; */
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  min-width: 1000px;
}

.header{
  position: sticky; top: 0px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.head_inner{
  width: 100%; margin: 0 auto;
  box-sizing: border-box;
}
/* 로그인 Navigation */
.login_wrap{
  width: 100%; height: 31px;
  margin-top: 1.6rem; padding: .4rem 0;
  display: flex; justify-content: flex-end; align-items: center;
}
.login_wrap ul{
  list-style: none;
  display: flex;
}
.login_wrap li{
  margin-left: 2.4rem;
}
.login_wrap li:last-child{
  margin-right: 1.4rem;
}
.login_wrap li a{
  text-decoration: none;
  color: #111518;
  font-size: 1.4rem;
}

/* gnb_wrap */
.gnb_wrap{
  display: flex; justify-content: space-between; align-items: center;
}
.gnb_logo a{
  display: block; padding: 2.3rem 0;
  text-decoration: none;
}
.gnb_logo img{
  display: block; width: 18rem; height: 3.6rem;
  border: 1px solid black;
}
.gnb_menu{
  cursor: pointer;
}
.gnb_menu ul{
  padding: 0 5rem;
  display: flex; align-items: center;
  font-size: 2rem; font-weight: 500;
  list-style: none;
}
.gnb_menu a{
  padding: 2.5rem 2.8rem;
  height: 8rem;
  text-decoration: none; color: #111518;
}

/* util_wrap */
.util_menu{
  width: 100px; height: 30px;
  display: flex; align-items: center;
}
.util_menu img{
  width: 3rem; height: 3rem;
}
.outlet{
  width: 100%;
  min-width: 750px;
  padding: 20px;
  box-sizing: border-box;
}

.chat_button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
}
.chat_div{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
